.hoverEffect:hover{
    animation: LikeClickEffect 0.1s   forwards;
}

.likeafter{
    animation: LikeClickEffect 0.1s   forwards linear;
}

.likeafter:hover{
    animation: none
}
@keyframes LikeClickEffect {
    0%{
        transform: scale(0.9);
        color: transparent;
    }
    50%{
        transform: scale(1.2);
        color: rgb(247, 90, 105);
    }
    100%{
        transform: scale(1);
        color: rgb(247, 90, 105);
    }
}


.testModal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.testModal img{
    max-width: 100%;
}

.testModal span{
    position: sticky;
    top: 0px;
}